.navFontCenter {
  margin: 0 auto;
  color: #040b4a;
  font-weight: 600;
  font-size: 14px;
  text-decoration: None;
  padding: 0.5rem;
}

.navFontCenter:hover {
  text-decoration: underline;
}

.navFontCenterActive {
  color: white !important;
  font-weight: 600;
  background-color: #040b4a;
  border-radius: 8px;
}