.navFontCenter {
  margin: 0 auto;
  color: #040b4a;
  font-weight: 600;
  font-size: 14px;
  text-decoration: None;
  padding: 0.5rem;
}

.navFontCenter:active {
  color: #040b4a !important;
  font-weight: 800;
}

.navAccordionItem{
  border: 0;
}